#log
*.log

#matlab auto save
*.asv

#nWave
nWaveLog/*
nWaveLog

#dc_shell
command.log
*.svf
*.X
.synopsys_dc.setup
tsmc13.v
tsmc13_neg.v

#ncverilog
ncverilog.*
novas.*
novas_dump.log
*.fsdb
signal.rc
INCA_libs/*
INCA_libs

#apr
*.mr
*.syn
*.pvl
